.footer{
    padding: 64px 120px;
    text-align: center;
}
.footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    flex-wrap: wrap;
}
.copyright{
    margin-top: 51px;
    text-align: center;
}