.slideShow{
    padding-left: 0px;
    padding-right: 0px;
    width: 100vw;
}
.slideShow img {
    width: 100%;
    
}

.slideShow .text {
    font-family: "Spaced";
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    position: absolute;
    top: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.slideShow .text .txt1{
    font-size: 3rem;
}
.slideShow .text .txt2{
    font-size: 4.5rem;
}
.slideShow .text .txt3{
    font-size: 4.5rem;
}
.slideShow .text .txt4{
    font-size: 3rem;
}