.whatToDo {
    position: relative;
    padding: 124px 0;
    background-image: linear-gradient(169.67deg, #130032 3.02%, #1F0745 27.4%, #0D0120 61.34%, #1F0336 83.68%, #260639 100%);
}
.whatToDo .rightSec , .leftSec{
    position: relative;
}
.whatToDo .leftSec div,
.rightSec div {
    border: 2px solid #362d79;
    border-radius: 10px;
    padding: 24px 32px;
    margin: 40px 0;
    font-size: 1.5rem;
    position: relative;
    background-color: #0C011E;
}
.whatToDo .leftSec div{
    width: max-content;
}
.whatToDo .rightSec .txt1{
    width: 399px;
    left: 2px;
}
.whatToDo .rightSec .txt2{
    width: 370px;
    left: -151px;
    top: 113px;
}
.whatToDo .rightSec .txt3{
    left: 3px;
    top: 78px;
}
.whatToDo .leftSec .txt1{
    right: -448px;
    top: -85px;
}
.whatToDo .leftSec .txt2{
    right: -58px;
    top: -62px;
}

.whatToDo .leftSec .txt3{
    right: -16px;
    top: -5px;
}
.whatToDo .leftSec .txt4{
     width: 406px;
     right: -9px;
     top: 71px;
}
.whatToDo .centertSec {
    
    width: 300px;
    height: 300px;
    background: radial-gradient(
        64.25% 64.25% at 50% 34%,
        #8a2ab3 0%,
        #6c168f 26.31%,
        #3b0751 52.17%,
        #060009 100%
    );
    border-radius: 50%;
    font-family: "Spaced";
    font-size: 2rem;
    margin: 39px;
}
