@font-face {
    font-family: "Spaced";
    src: url("./fonts/SpacedRegular-MVlwe.otf");
}
.d-flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
a{
    color: #f7f7f7 !important;
}
@media screen and (max-width: 920px) {
    .portfolio .ellip {
        width: 100%;
        height: 96px;
    }
    .navbar .menu {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .whatToDo {
        flex-direction: column;
    }
    .centertSec {
        position: absolute;
        top: 0;
    }
    /*************** leftSec *****************************/
    .whatToDo .leftSec .txt1 {
        right: -336px !important;
        top: 186px !important;
    }
    .whatToDo .leftSec .txt2 {
        right: 154px !important;
        top: 144px !important;
    }

    .whatToDo .leftSec .txt3 {
        right: -300px !important;
        top: 154px !important;
    }
    .whatToDo .leftSec .txt4 {
        width: 406px;
        right: 243px !important;
        top: 126px !important;
    }
    /*************** rightSec *****************************/

    .whatToDo .rightSec .txt1 {
        width: 399px;
        left: 197px !important;
        top: 77px !important;
    }
    .whatToDo .rightSec .txt2 {
        width: 370px;
        left: 209px !important;
        top: 26px !important;
    }
    .whatToDo .rightSec .txt3 {
        left: -247px !important;
        top: 58px !important;
    }
}

@media screen and (max-width: 920) {
    /*************** leftSec *****************************/
    .whatToDo .leftSec .txt1 {
        right: -300px !important;
        top: 196px !important;
    }
    .whatToDo .leftSec .txt2 {
        right: 114px !important;
        top: 176px !important;
    }

    .whatToDo .leftSec .txt3 {
        right: -260px !important;
    }
    .whatToDo .leftSec .txt4 {
        right: 406px !important;
    }
    /*************** rightSec *****************************/

    .whatToDo .rightSec .txt1 {
        left: 135px !important;
        top: 97px !important;
    }
    .whatToDo .rightSec .txt2 {
        width: 370px;
        left: -167px !important;
        top: 93px !important;
    }
    .whatToDo .rightSec .txt3 {
        left: 169px !important;
        top: 77px !important;
    }
}
@media screen and (max-width: 970px) {
    .slideShow .img .text {
        top: 234px;
    }
}
@media screen and (max-width : 830px) {
     /*************** leftSec *****************************/
     .whatToDo .leftSec .txt1 {
        right: -267px !important;
        top: 196px !important;
    }
    .whatToDo .leftSec .txt2 {
        right: 59px !important;
        top: 159px !important;
    }

    .whatToDo .leftSec .txt3 {
        right: -225px !important;
        top: 128px !important;
    }
    .whatToDo .leftSec .txt4 {
        right: 62px !important;
        top: 106px !important;
    }
    /*************** rightSec *****************************/

    .whatToDo .rightSec .txt1 {
        left: 88px !important;
        top: 44px !important;
    }
    .whatToDo .rightSec .txt2 {
        left: 117px !important;
        top: -2px !important;
    }
    .whatToDo .rightSec .txt3 {
        left: -63px !important;
        top: 20px !important;
    }
}
@media screen and (max-width : 600px) {
    .whatToDo .centertSec{
        width: 10.75rem !important;
        height: 10.75rem !important;
        font-size: 1.3rem !important;
        margin: 39px 0 0 0 !important;
    }
    .whatToDo .rightSec{
        margin-top: 48px;
    }
    .whatToDo .leftSec{
        margin-top: -85px;
    }
    .whatToDo .leftSec div ,
    .whatToDo .rightSec div
    {
        position: static;
        top: 50px;
        right: 0;
        left: 0;
        margin: 40px auto !important;
        width: 90% !important;
    }

}
@media screen and (max-width: 670px) {
    .slideShow .img .text {
        top: 99px;
        line-height: 50px;
        margin-left: 37px;
    }
    .partners .img img{
        width: 80% !important;
    }
}
@media screen and (max-width: 380px) {
    .slideShow .img .text {
        top: 105px;
    }
}